.container {
    display: flex;
    justify-content: center;
    background-color: rgb(3, 138, 192);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
    /* height: ; */
}

.content {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    background-color: white;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    margin: auto;
    /* margin-left:-100px;
    margin-right: -100px; */
    justify-content: center;
    width: 80%;
    height: max-content;
    border-radius: 20px;

}

    
    .right-column {
        width: 50%;
        height: 50vh;
        flex-direction: column;
        margin-right: -50px;
    }
    .left-column {
        margin-left: -50px;
    }

    .home-img {
        width: 70%;
        margin-top: 50px;
        
    }
    .welcome {
        margin-top: -1px;
    }
    .heading {
        font-size: medium;
    }
    .heading2 {
        font-size:medium;
    }
   
    .social-media {
        display: inline-flex;
        flex-direction: row;
        line-height: 1;
    }
    .buttons-container {
        font-size: small;
        margin-top: -20px;
    }
    .signup-btn{
        padding: px;
    }
   




@media only screen and (max-width: 480px) {
    .container {
        flex-direction: row;
        width: 100%;
        height: 100%;
      }
    .content {
      flex-direction: row;
      width: 90vw;
      height: 110vh;
      margin-left: 5px;
      
    }

    .box {
        display: inline-flex;
        font-size: small;
        margin-left: -20px;
    }
}

.left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 100px;
    width: 35%;
    height: 80vh;
    margin-left: -70px;
}
.heading {
    color: blue;
    padding-top: 50px;
    
}

.heading2 {
    line-height: 1.5;
    color: rgb(33, 33, 150);
    
}
/* .welcome {
    
} */
.email {
    font-size: 0.8em;
    padding-bottom: 10px;
   

}



.password{
    font-size: 0.8em;
    padding-bottom: 10px;
}
input[type=email] {
    width: 90%;
    padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
    width: 90%;
    padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.forget {
    padding-left: 100px;
    text-decoration: none;
    color: black;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    
}
.login-btn{
    padding: 10px 30px;
    background-color: blue;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.signup-btn{
    padding: 10px 30px;
    background-color: white;
    border: 1px solid blue;
    outline: none;
    color: blue;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.social-media {
    padding-top: 20px;
    
}
.google{
padding-right: 20px;
padding-left: 20px;
font-weight: bolder;
text-decoration: none;
color: blue;
}

.facebook{
    padding-right: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: blue;
    }

.linkedin {
    font-weight: bolder;
    text-decoration: none;
    color: blue;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 80vh;
    /* padding-right: 0px; */
   
}